html, body, #wrapper {
    margin: 0;
    padding: 0;
    height: 100%;

    /* overflow-x: hidden; */
    /* position: fixed; */
    /* min-height: 100%; */
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: HelveticaNeue;

}

main {
    flex: 1;
    /* min-height: 100%; */
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}

h1, p {
    margin: 0;
}
