html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    /* overflow-x: hidden; */
    /* position: fixed; */
    /* min-height: 100%; */
}

#wrapper {
    background: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    z-index: 1;
    position: relative;
    transition: transform .3s ease;
    transform: translate(0, 0);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

body {
    font-family: HelveticaNeue;
}

main {
    flex: 1;
    /* min-height: 100%; */
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}

h1, p {
    margin: 0;
}


@media screen and (--tiny-max) {

}

@media screen and (--small-min) {

}

@media screen and (--small-min) and (--small-max) {

}

@media screen and (--small-max) {
    .menu-visible #wrapper {
        transform: translate(-220px, 0);
    }
}


@media screen and (--medium-min) {

}

@media screen and (--medium-min) and (--medium-max) {

}


@media screen and (--large-min) {

}

@media screen and (--large-min) and (--large-max) {

}

@media screen and (--huge-min) {

}
