.box {
    background: pink;
    /* width: 25%; */
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (--tiny-max) {

}

@media screen and (--small-min) {
    .box {
        width: calc(50% - 20px);
    }
}

@media screen and (--small-min) and (--small-max) {

}

@media screen and (--medium-min) {

}

@media screen and (--medium-min) and (--medium-max) {

}


@media screen and (--large-min) {
    .box {
        width: calc(25% - 20px);
    }
}

@media screen and (--large-min) and (--large-max) {

}

@media screen and (--huge-min) {

}
