footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

header {
    /* margin-bottom: 20px; */
}

.box {
    background: orange;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}



@media screen and (--tiny-max) {

}

@media screen and (--small-min) {
    .box {
        float:left;
    }
}

@media screen and (--small-min) and (--small-max) {
    .box {
        width: calc(50% - 20px);
    }
    .box:nth-child(2n-1) {
        clear: left;
    }
}

@media screen and (--medium-min) {

}

@media screen and (--medium-min) and (--medium-max) {
    .box {
        width: calc(33.3333% - 20px);
    }
    .boxes-4 .box {
        width: calc(50% - 20px);
    }
    .box:nth-child(3n-2) {
        clear: left;
    }
    .boxes-4 .box:nth-child(3n-2) {
        clear: none;
    }
    .boxes-4 .box:nth-child(2n-1) {
        clear: left;
    }
}


@media screen and (--large-min) {
    .box {
        width: calc(25% - 20px);
    }
}

@media screen and (--large-min) and (--large-max) {
    .box:nth-child(4n-3) {
        clear: left;
    }
}

@media screen and (--huge-min) {
    .box {
        width: calc(20% - 20px);
    }
    .boxes-4 .box {
        width: calc(25% - 20px);
    }
    .box:nth-child(5n+1) {
        clear: left;
    }
    .boxes-4 .box:nth-child(5n+1) {
        clear: none;
    }
}
