.box {
    background: silver;
    /* width: 25%; */
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    text-decoration: none;
}

.box h1,
.box h2,
.box h3 {
    text-decoration: underline;
}

.box p {
    text-decoration: none;
    color: #333;
}

.box:hover {
    background: #999;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}

.boxes a {
    color: var(--main-color--darkened);
}

.boxes :first-child {
    margin-top: 0;
}

@media screen and (--tiny-max) {

}

@media screen and (--small-min) {
    .box {
        width: calc(50% - 20px);
    }
}

@media screen and (--small-min) and (--small-max) {

}

@media screen and (--medium-min) {

}

@media screen and (--medium-min) and (--medium-max) {

}


@media screen and (--large-min) {
    .box {
        width: calc(25% - 20px);
    }
}

@media screen and (--large-min) and (--large-max) {

}

@media screen and (--huge-min) {

}
