footer {
    background: var(--main-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* padding: 20px 40px; */
/*     display: flex;
flex-direction: column; */
}

footer * {
    color: white;
}
