.snow {
    fill: #fff;
}

.box {
    background: white;
    font-size: 2rem;
    transition: background .3s;
}

.box:hover {
    background: silver;
}

a.box h2 {
    font-size: 3rem;
    margin-bottom: .5em;
}


@media screen and (--tiny-max) {

}

@media screen and (--small-min) {

}

@media screen and (--small-min) and (--small-max) {

}

@media screen and (--medium-min) {

}

@media screen and (--medium-min) and (--medium-max) {

}


@media screen and (--large-min) {

}

@media screen and (--large-min) and (--large-max) {

}

@media screen and (--huge-min) {

}
