#plakat {
    /* margin-top: 20px; */
    height: 300px;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    justify-content: left;
}

#plakat div {
    align-self: center;
}

#plakat p {
    font-size: 2.5rem;
    margin: .5em 0 1em 0;
}

#plakat .button {
    font-size: 2rem;
    color: white;
}

#plakat h1 {
    font-weight: 900;
    /* align-self: flex-end; */

    font-size: 4rem;
}


@media screen and (--tiny-max) {

}

@media screen and (--small-min) {

}

@media screen and (--small-min) and (--small-max) {

}

@media screen and (--medium-min) {

}

@media screen and (--medium-min) and (--medium-max) {

}


@media screen and (--large-min) {

}

@media screen and (--large-min) and (--large-max) {

}

@media screen and (--huge-min) {

}
